.product-description__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: var(--dove-gray);
  font-weight: 700;
  font-size: var(--fz-sm);
  border-bottom: 1px solid var(--dusty-gray);
}
.product-description__panel {
  font-size: var(--fz-sm);
}
