:root {
  --puerto-rico: #3cbdaf;
  --mine-shaft: #222222;
  --dusty-gray: #989898;
  --dove-gray: #666666;
  --gallery: #ececec;
  --font-sans: "Nunito Sans", -apple-system, system-ui, sans-serif;

  /* Radius */
  /* --border-radius: 0.25rem; */

  /* Font Size */
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;

  /* Globals */
  /* --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

body {
  margin: 0;
  color: var(--mine-shaft);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--puerto-rico);
  font-size: var(--fz-xxs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1.1;
  color: var(--lightest-slate);
  font-weight: 300;
}
